/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
  --celeste-claro: #eaf2fd;
  --blanco: #ffffff;
  --azul: #2a7ae4;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/* Globales */
section {
  width: 90%;
  margin: 0 auto;
  padding: 32px 0;
}

.text-mobile {
  font-size: 16px;
  text-align: justify;
}

.button {
  background-color: var(--azul);
  color: var(--blanco);
  padding: 15px;
  border: none;
}

.button:hover {
  cursor: pointer;
}

/*Sección Menu*/

section.menu {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.menu__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

.menu__header img {
  width: 24px;
  height: 24px;
}

.menu__title {
  font-size: 16px;
}

.menu__list {
  display: none;
}

.menu__list__item__contato {
  font-size: 14px;
}

@media (min-width: 768px) {
  .menu__list__item__contato {
    font-weight: bold;
    font-size: 16px;
  }
}

@media (min-width: 1140px) {
  section.menu {
    height: 88px;
  }

  .menu__list {
    display: flex;
    column-gap: 25px;
  }

  .menu__list__item {
    font-size: 16px;
  }

  .menu__list__item:last-child {
    font-weight: bold;
  }

  .menu__list__item__contato {
    display: none;
  }
}

/*Sección Title*/

section.title {
  padding: 0;
}

.title__div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__profile {
  width: 100%;
  border-radius: 50%;
}

.title__container {
  padding: 32px 0;
}

.title__bio {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.title__subsection {
  font-size: 14px;
  font-weight: normal;
  text-align: justify;
}

.title__network {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  justify-content: flex-start;
  column-gap: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.title__network__item {
  font-size: 14px;
  font-weight: 600;
}

/*Inicio Media Querie Table*/
@media (min-width: 768px) {
  .title__div {
    flex-direction: row-reverse;
    column-gap: 30px;
  }

  .title__profile {
    width: 30%;
  }

  .title__container {
    padding-right: 50px;
  }

  .title__subsection {
    font-size: 16px;
  }

  .title__network {
    column-gap: 25px;
  }

  .title__network__item {
    font-size: 16px;
    font-weight: 500;
  }

  .title__network__item img {
    width: 11px;
    height: 11px;
  }
}
/*Fin Media Querie Table*/

/*Inicio Media Querie Desktop*/
@media (min-width: 1140px) {
  .title__bio {
    font-size: 52px;
  }
}
/*Fin Media Querie Desktop*/

/*Sección About Sobre Mi*/

section.about {
  width: 100%;
  background-color: var(--celeste-claro);
}

.about__container {
  width: 90%;
  margin: 0 auto;
}

.about__title {
  font-size: 22px;
  margin: 0;
}

.about__paragraph {
  font-size: 14px;
  text-align: justify;
}

/*Inicio Media Querie Desktop*/
@media (min-width: 1140px) {
  .about__title {
    font-size: 32px;
  }

  .about__paragraph {
    width: 70%;
    font-size: 16px;
  }
}
/*Fin Media Querie Desktop*/

/*Sección Skills*/
section.skills {
}

.skills__title,
.hobbies__title,
.academic__title,
.experience__section__title {
  text-align: center;
  font-size: 22px;
  margin: 0;
}

.skills__line,
.hobbies__line {
  padding-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  gap: 16px;
}

.skills__box,
.hobbies__box {
  height: 110px;
  background-color: var(--blanco);
  display: flex;
}

.skills__box ul,
.hobbies__box ul {
  margin: auto;
  padding: 0;
  text-align: center;
}

.skills__name,
.hobbies__name {
  margin-top: 5px;
  font-size: 16px;
}

@media (min-width: 1140px) {
  .skills__title,
  .hobbies__title {
    font-size: 32px;
  }
}

/*Sección Hobbies*/

section.hobbies {
  padding-top: 16px;
}

/* Experiencia Académica*/

section.academic {
  width: 100%;
  background-color: var(--celeste-claro);
  padding: 32px 0;
}

.academic__title {
  text-align: center;
}

.academic__courses {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.academic__courses__box {
}

.academic__courses__list {
  padding: 0;
}

.academic__courses__item__img {
  padding: 16px 0;
  background-color: var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
}

.academic__courses__img {
  width: 75%;
}

.academic__courses__item__title {
  font-size: 16px;
}

.academic__courses__item__subtitle {
  font-size: 14px;
}

/*Media Querie Phone*/
@media (min-width: 463px) {
  .academic__courses__item__img {
    height: 200px;
  }

  .academic__courses__img {
    width: 60%;
  }
}

/*Inicio de Media Querie Desktop*/
@media (min-width: 1140px) {
  .academic__courses {
    column-gap: 32px;
  }
  .academic__courses__item__img {
    height: 300px;
  }
}
/*Fin de Media Querie Desktop*/

/* experiencia*/

section.experience {
}

.experience__proyect {
  width: 100%;
  margin: 0 auto;
}

.experience__img {
  width: 100%;
}

/*Contacto*/

section.formcontato {
  width: 100%;
  background-color: var(--celeste-claro);
  padding-top: 16px;
}

.formcontato__contacto {
  width: 90%;
  margin: 0 auto;
}

.formcontato--esquerda {
  display: none;
}

/* .formcontato__text {
  width: 100%;
} */

.formcontato__subtext {
  font-weight: normal;
}

.formcontato__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.formcontato__input,
.formcontato__textarea {
  border-radius: 5px;
  border: none;
  padding: 15px;
  font-size: 16px;
}

.formcontato__botao {
  text-align: left;
  width: 130px;
  font-weight: 500;
  font-size: 14px;
}

.formcontato__botao:hover {
  cursor: pointer;
}

@media (min-width: 970px) {
  .formcontato__contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .formcontato--esquerda {
    display: block;
    align-items: center;
  }

  .formcontato__form {
    row-gap: 32px;
  }
}

/*Inicio de Media Querie Desktop*/
@media (min-width: 1000px) {
  section.formcontato {
    padding: 64px 0;
  }

  .formcontato__contacto {
    padding-top: 64px;
    width: 90%;
    grid-template-columns: 1fr 2fr;
  }

  .formcontato__text {
    width: 100%;
  }

  .formcontato__title {
    font-size: 32px;
    margin: 0;
  }

  .formcontato__form {
    width: 100%;
  }

  .formcontato__botao {
    font-size: 20px;
    width: 200px;
    padding: 22px;
    font-weight: bold;
  }
}

@media (1260px < width) {
  .formcontato__form {
    width: 650px;
    padding-top: 15px;
  }
}
/*Fin de Media Querie Desktop*/

@media (min-width: 1620px) {
  .formcontato__img {
    width: 100%;
  }

  .formcontato__input,
  .formcontato__textarea {
    font-size: 20px;
    padding: 25px 15px;
  }
}

/*Inicio Footeer*/

section.footer {
  width: 100%;
  padding: 16px 0;
  text-align: center;
  background-color: var(--blanco);
}

.footer__text {
  text-align: center;
}

/*Fin Footeer*/

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (min-width: 768px) {
  /* Menú */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sección sobre mi*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /*Contacto*/

  /*Footer*/
}
